
html {
    font-family: Verdana, Tahoma, sans-serif;
}
* {
    color:black
}
h1 {
    color:darkgreen;
    margin-bottom: 0.25em;
    font-size: 25px;
}
.contacts {
font-size: 20px;
font-weight: bold;
}
.description {
    margin-top: 0.5em;
    font-weight: bold;
}